@charset "utf-8";
#wrapper {
	background-image: url(images/ABOUT%20US%20X2/AS-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#header {
	height: 134px;
	width: 1160px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 220px;
}
#header2 {
	height: 20px;
	width: 264px;
	margin-left: 290px;
	margin-top: -65px;
	display: block;
}

#btn {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 210px;
}

#btn_01 {
	float: left;
	height: 58px;
	width: 258px;
	margin-top: 0px;
	margin-left: 0px;
	background-image: url(images/HOME%20X2/3-1.png);
}

#content {
	height: 750px;
	width: 1172px;
	margin-left: 220px;
	overflow: auto;
	background-image: url(images/ABOUT%20US%20X2/CONTENT-B.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#right {
	margin-top: -1066px;
	margin-right: 0px;
	margin-left: 1420px;
	height: 918px;
	width: 180px;
}
#right1 {
	background-image: url(images/HOME%20X2/C-01.png);
	height: 102px;
	width: 180px;
	margin-top: 282px;
}
#right2 {
	height: 110px;
	width: 180px;
	margin-top: 40px;
	background-image: url(images/HOME%20X2/D.png);
}


#right3 {
	height: 182px;
	width: 180px;
	margin-top: 5px;
	display: inline-block;
	background-image: url(images/HOME%20X2/E.png);
}



#bottom {
	height: 238px;
	width: 1172px;
	margin-top: 20px;
	margin-left: 220px;
}
#bottom2-1 {
	background-image: url(images/HOME%20X2/ING.png);
	height: 28px;
	width: 270px;
	margin-left: 300px;
}
#bottom3-1 {
	margin-left: 386px;
	background-image: url(images/HOME%20X2/O.png);
	height: 28px;
	width: 270px;
}
#bottom2-2 {
	background-image: url(images/HOME%20X2/ING-2.png);
	height: 200px;
	width: 356px;
	margin-left: 300px;
}
#header1 {
	height: 156px;
	width: 206px;
	margin-top: 20px;
	display: inline-block;
}

#bottom3-2 {
	background-image: url(images/HOME%20X2/O-2.png);
	height: 200px;
	width: 490px;
	margin-left: 386px;
}




#bottom1-1 {
	height: 28px;
	width: 270px;
	background-image: url(images/HOME%20X2/R.png);
	background-attachment: scroll;
	padding: 0px;
	margin: 0px;
}
#bottom1-2 {
	margin-top: 10px;
	background-image: url(images/HOME%20X2/R-2.png);
	height: 200px;
	width: 270px;
}
#title {
	background-image: none;
	height: 24px;
	width: 670px;
	margin-top: 24px;
	margin-left: 262px;
}
#dot {
	background-image: url(images/ABOUT%20US%20X2/DOT.png);
	height: 16px;
	width: 1172px;
	margin-top: 12px;
	margin-left: 220px;
}
#wrapper_contact {
	background-image: url(images/CONTACT%20US%20X2/CU-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#wrapper_donation {
	background-image: url(images/DONATION%20X2/DO-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#wrapper_advantage {
	background-image: url(images/ENVIRONMENT%20&%20ROOMS%20X2/ER-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#wrapper_faq {
	background-image: url(images/FAQ%20X2/FAQ-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#wrapper_meals {
	background-image: url(images/POSTARTUM%20&%20IN-LABOR%20MEALS%20X2/PIM-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}
#wrapper_why {
	background-image: url(images/FAQ%20X2/FAQ-B.png);
	height: 1200px;
	width: 1600px;
	margin: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
	background-attachment: scroll;
	background-repeat: no-repeat;
	padding-top: 0px;
}

#right1-1 {
	height: 34px;
	width: 34px;
	margin-top: 20px;
	margin-left: 115px;
	display: inline-block;
}
#right1-2 {
	height: 34px;
	width: 34px;
	margin-top: 0px;
	margin-left: 80px;
	display: inline-block;
}

#right2-1 {
	display: inline-block;
	margin-top: 52px;
	margin-left: 25px;
}
#right2-2 {
	display: inline-block;
	margin-top: 5px;
	margin-left: 25px;
}
#righ3-1 {
	display: inline-block;
	margin-top: 135px;
	margin-left: 20px;
}
#righ3-2 {
	display: inline-block;
	margin-left: 10px;
}
